<div class='o-grid__col o-grid__col--initial-grow o-grid__col--4-4-s o-grid__col--2-4-m tag-card-wrap'>
  <div class='tag-card'>
    {{#if feature_image}}
      <div class='tag-card__media'>
        <div class='tag-card__image-wrap'>
          <img class='tag-card__image lazyload' data-src='{{ img_url feature_image size='lg' }}' alt='{{title}}'/>
        </div>
      </div>
    {{/if}}

    <div class='tag-card__content'>
      <h2 class='tag-card__title'><a href='{{ url }}' class='tag-card__url'>{{ name }}</a></h2>
      {{#if description}}
        <p class='tag-card__description'>{{ description }}</p>
      {{/if}}
    </div>

    <div class='tag-card__meta'>{{plural count.posts empty='No Posts' singular='% Post' plural='% Posts'}}</div>
  </div>
</div>