<footer class='c-footer'>
  <div class='o-grid'>

    {{#if @site.description }}
      <div class='footer-section info-section'>
        {{#if @site.logo}}
          <a href='{{ @site.url }}'>
            <img class='footer-logo' src='{{ @site.logo }}' alt='{{ @site.title }}' />
          </a>
        {{else}}
          <a class='c-logo__link' href='{{ @site.url }}'>{{ @site.title }}</a>
        {{/if}}
        <p class='footer-description'>{{ @site.description }}</p>
      </div>
    {{/if}}

    {{#if @site.navigation}}
      <div class='footer-section'>
        <h4 class='footer-title'>{{t 'Navigation' }}</h4>
        <ul class='c-footer-list o-plain-list'>
          {{ navigation }}
        </ul>
      </div>
    {{/if}}

    {{#if 'tags'}}
      <div class='footer-section'>
        <h4 class='footer-title'>{{t "Series'" }}</h4>
          <ul class='c-footer-list o-plain-list tags_list'>
            {{#get "tags"
              limit="60"
              include="count.posts"
              filter="feature_image:-null+slug:-[adventures-in-excel,microsoft-powerpivot,code-snippet-corner,mongodb-cloud]"
              order="count.posts DESC"
            }}
              {{#foreach tags visibility='internal'}}
                <li><a href="/series/{{slug}}">{{meta_title}}</a></li>
              {{/foreach}}
            {{/get}}
          </ul>
      </div>
    {{/if}}

    {{#if 'authors'}}
      <div class='footer-section'>
        <h4 class='footer-title'>{{t 'Authors' }}</h4>
        <ul class='c-footer-list o-plain-list'>
          {{#get 'authors' limit='8' order="posts.count desc"}}
            {{#foreach authors}}
              <li>
                <a href="/authors/{{slug}}" title="{{name}}" class="author author-{{slug}} {{slug}}" >
                  {{name}}
                </a>
              </li>
            {{/foreach}}
          {{/get}}
        </ul>
      </div>
    {{/if}}

    {{#unless @member}}
      <div class='footer-section newsletter'>
        <h4 class='footer-title'>{{t 'Newsletter' }}</h4>
        {{> subscribe-form inputLabel='subscribe-email-footer'}}
      </div>
    {{/unless}}

  </div>

  <div>
    <div class='u-type-xs c-footer__copyright'>
      &copy; {{ date format='YYYY' }} {{ @site.title }}
    </div>
  </div>
</footer>
