<header class='header'>

  <div class='o-grid o-grid--center'>
    <div class='o-grid__col'>
      <div class='header__inner'>
        <div class='logo-icon'>
          {{#if @site.icon}}
            <a href='{{ @site.url }}'>
              <img class='logo__img' src='{{ @site.icon }}' alt='{{ @site.title }}' width='' height=''>
            </a>
          {{else}}
            <a class='logo__link' href='{{ @site.url }}'>{{ @site.title }}</a>
          {{/if}}
        </div>

        <div class='nav-wrap'>
          <ul class='nav nav--left o-plain-list'>
            {{ navigation }}
          </ul>

          <ul class='nav nav--right  o-plain-list'>
            <li class='nav__item'>
              <a href='#' class='nav__link toggle-search-button js-search-toggle' aria-label='{{t 'Search' }}'>
                <div class='nav__icon-search'>
                  {{> search-icon }}
                </div>
                <span>{{t 'Search' }}</span>
              </a>
            </li>
            {{#if @member}}
              <li class='nav__item'><a href='#/portal/account' class='nav__link'>{{t 'Account' }}</a></li>
            {{else}}
              <li class='nav__item'><a href='#/portal/signin' class='btn btn--small btn--outline'>{{t 'Log in' }}</a></li>
              <li class='nav__item'><a href='#/portal/signup' class='btn btn--small btn--action'>{{t 'Subscribe' }}</a></li>
            {{/if}}
          </ul>
        </div>

        <div class='js-nav-toggle nav-toggle'>
          <span class='nav-toggle__icon'></span>
        </div>
      </div>
    </div>
  </div>

</header>

{{> search-form }}