<aside class='post-upgrade-cta'>
  {{#if @member}}
    <h4 class='post-upgrade-cta__title'>{{t 'This page is for paying subscribers only'}}</h4>
  {{else}}
    <h4 class='post-upgrade-cta__title'>{{t 'This page is for subscribers only'}}</h4>
  {{/if}}

  <a class='btn btn--action u-mb-16' href='{{ @site.url }}/subscribe/'>{{t 'Subscribe Now'}}</a>
  <p class='u-type-xs'>{{t 'Already have an account?'}} <a href='{{ @site.url }}/signin/' class='u-link'>{{t 'Log in'}}</a></p>
</aside>