<div class='post-card js-post-card {{ post_class }}'>
  {{#if feature_image}}
    <div class='post-card__media'>
      <div class='post-card__image-wrap'>
        <img
          alt='{{ title }}'
          class='post-card__image lazyload'
          data-srcset='
            {{ img_url feature_image size='ml' }} 346w,
            {{ img_url feature_image size='lg' }} 692w,
            {{ img_url feature_image size='xl' }} 1384w'
          sizes='(min-width: 1260px) 692px, (min-width: 1040px) calc(34vw + 270px), (min-width: 640px) calc(90vw - 61px), calc(100vw - 32px)'
          data-src='{{ img_url feature_image size='xl' }}'
        >
      </div>
    </div>
  {{/if}}

  <div class='post-card__content'>
    <h2 class='post-card__title'>
      <a href='{{ url }}' class='post-card__url'>{{ title }}</a>

      <!--<div class='post-card__visibility post-card__visibility--{{ visibility }}'>
        <span class='paid'>{{t 'Paid' }}</span>
        <span class='members'>{{t 'Members' }}</span>
        <span class='public'>{{t 'Public' }}</span>
      </div>-->
    </h2>

    <p class='post-card__excerpt'>{{ excerpt }}</p>

    <div class='post-card__meta'>
      {{#primary_author}}
        <a href='{{ url }}' class='post-card__author'>
          {{#if profile_image}}
            <div class='post-card__author_media'>
              <img class='post-card__author_image lazyload' data-src='{{ img_url profile_image size='xs' }}' alt='{{ name }}' width='32' height='32'>
            </div>
          {{/if}}
          <div class='post-card__author_info'>
            <div class='post-card__author_name'>{{ name }}</div>{{/primary_author}}
            <time class='post-card__date' datetime='{{ date format='YYYY-MM-DD' }}' title='{{ date format='DD MMMM YYYY' }}'>{{ date format='DD MMM YYYY' }}</time>
          </div>
        </a>

      {{#primary_tag}}
        <a
          href="{{url}}"
          class="primary-tag"
          style="background-color:{{ accent_color }}; border: 1px solid {{ accent_color }};"
          >
          {{name}}
        </a>
      {{/primary_tag}}
    </div>

  </div>
</div>
