<header class='post-header'>
  {{#if feature_image}}
    <figure class='post-image-wrap'>
      <img alt='' class='post-image lazyload' data-srcset='
        {{ img_url feature_image size='ml' }} 346w,
        {{ img_url feature_image size='lg' }} 692w,
        {{ img_url feature_image size='xl' }} 1384w' sizes='(min-width: 1260px) 692px, (min-width: 1040px) calc(34vw + 270px), (min-width: 640px) calc(90vw - 61px), calc(100vw - 32px)' data-src='{{ img_url feature_image size='xl' }}'>
    </figure>
  {{/if}}

  <h1 class='post-title'>{{ title }}</h1>

  {{#if custom_excerpt}}
    <p class='post-header__excerpt'>{{ custom_excerpt }}</p>
  {{/if}}

  {{#is 'post'}}
    <div class='post-header__meta'>
      {{#primary_author}}
        <a href='{{ url }}' class='post-header__author'>
          {{#if profile_image}}
            <div class='post-header__author_media'>
              <img
                      class='post-header__author_image lazyload'
                      data-src='{{ img_url profile_image size='xs' }}'
                      alt='{{ name }}'
                      width='32'
                      height='32'
              />
            </div>
          {{/if}}
          <div class='post-header__author_info'>
            <div class='post-header__author_name'>
              {{ name }}
            </div>
      {{/primary_author}}
      <time
              class='post-header__date'
              datetime='{{ date format='YYYY-MM-DD' }}'
              title='{{ date format='DD MMMM YYYY' }}'>
        {{ date format='DD MMM YYYY' }}
      </time>
    </div>
    </a>

    {{> share }}
    </div>
  {{/is}}
</header>
