<a href='{{ url }}' class='teaser'>
  <div class='teaser__content'>
    <h3 class='teaser__title'>{{ title }}</h3>
    <time class='teaser__date' datetime='{{ date format='YYYY-MM-DD' }}' title='{{ date format='DD MMMM YYYY' }}'>{{ date format='DD MMM YYYY' }}</time>
  </div>
  {{#if feature_image}}
    <div class='teaser__media'>
      <img class='teaser__image lazyload' alt='{{ title }}' data-src='{{ img_url feature_image size='md' }}' width='88' height='72'>
    </div>
  {{/if}}
</a>