<!doctype html>
<html lang='{{ @site.locale }}'>

{{> head }}

<body class='{{ body_class }}'>
  <div class='c-site-container'>
    {{> header }}

    {{> tags-list }}

    {{{ body }}}

    {{> footer}}
  </div>

  <script src='{{ asset 'js/app.min.js' }}'></script>
  {{ ghost_foot }}
</body>
</html>
